* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.otp_num::-webkit-inner-spin-button,
.otp_num::-webkit-outer-spin-button {
  appearance: none;
}

.success, .error, .verification {
  display: none;
}

.col-2{
    background-color: #3f3639;
    color: white;
    min-height: 100vh;
}
.menumain .accordion {
    --bs-accordion-btn-bg: #3f3639;
    --bs-accordion-btn-color:#ffffff;
    --bs-accordion-active-bg: #100f10;
    --bs-accordion-active-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
  } 

  .menumain{
    position: sticky;
    top: 60px;
  }
body{
    overflow-y: scroll;
}

   /* scroll bar css  */
  ::-webkit-scrollbar {
      width: 12px;
    }
    ::-webkit-scrollbar-thumb {
      background: blue;
      border-radius: 6px; 
    }
    ::-webkit-scrollbar-track {
      background: #dad7d7;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: red;
    }

.plansdiv img{
    width: 370px;
    height: 470px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}
.plansdiv .m-3{
    transition: transform .2s;
}
.plansdiv .m-3:hover{
    transform: scale(1.1);
}

/* .navbar{
    height: 60px;    
} */
.navbar-nav .nav-link:hover{
  color: red;
}
.menumain .list-group a li:hover{
    background-color: rgb(187, 203, 234);
}
.homemain{
    background-image: url("../src/Admincomponents/images/medical-bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
.homemain{
    background-image: url("../src/Admincomponents/images/medical-bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
.plansmaindiv .card{
  border-radius: 20px;
  width: 28%;
}
#engback{
    background-color: beige;
    color: black;
}

#engbtn{
    background-color: black;
    color: beige;
    border: none;
}

#engback:hover{
    background-color:black;
    color: beige;
}
#engback:hover #engbtn{
    background-color: beige;
    color: black;
}
.benifitimgs{
    width: 310px;
    height: 250px;
    border-radius: 20px;
}
.benifitsdiv .card{
    width: 350px;
    border: 5px solid white;
}
.benifitsdiv .card:hover{
    box-shadow: 2px 2px 4px 6px rgb(235, 235, 235);
    cursor: pointer;
}
.benifitsmaindiv{
    padding: 30px 0px 30px 0px;

}
.planbannerdiv{
    background-image: url("../src/Admincomponents/images/planBanner.webp");
    background-repeat: no-repeat;
    background-position: center;
    height:300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .plansmaindiv{
    background-color: #3f3639;
} */

.listdiv{
    height: 250px;
    overflow-y: auto;
}
